@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>The mission of the MakerLab is to provide an environment where Rose students can get more resources to learn by doing things. We provide the equipment, tools, expertise, supervision, and guidance for them to explore new area of interest in engineering. This way, Rose students gain multidisciplinary skillset needed to create the future  that many will live in.</p>
<br />
<h1>Leadership</h1>
<div class="row">
    <div class="col-lg-3" id="Pictures">
        <img class="img-circle" src="~/Content/officer pics/Elena_Chong_Loo.jpg" height="250" width="250" />
    </div>
    <div class="col-lg-9">
        <h4>Elena Chong</h4>
        <h5>President</h5>
        <h5>Electrical Engineering 2016</h5>
        <p><b>Quote:</b>"I love ice cream!"</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-3" id="Pictures">
        <img class="img-circle" src="~/Content/officer pics/pic1.jpg" height="250" width="250" />
    </div>
    <div class="col-lg-9">
        <h4>Chris Lippet</h4>
        <h5>Vice President</h5>
        <h5>Chemical Engineering | Economics 2016</h5>
        <p>I love innovation and future-thinking as well as working in groups. Whether I’m the leader or follower, I love collaborating with others and pushing each other to success! I have developed a lot of hands-on skills and I am looking to learn more about software and programming with an emphasis on microcontrollers and 3D printing.</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-3" id="Pictures">
        <img class="img-circle" src="~/Content/officer pics/181453_10152818253965366_2117325315_n.jpg" height="250" width="250" />
    </div>
    <div class="col-lg-9">
        <h4>Christopher Budo</h4>
        <h5>Secretary</h5>
        <h5>Software Engineering | Computer Science 2017</h5>
        <p>I made dis!</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-3" id="Pictures">
        <img class="img-circle" src="~/Content/officer pics/156524_579201452097859_687221427_n.jpg" height="250" width="250" />
    </div>
    <div class="col-lg-9">
        <h4>Ge Lingtao</h4>
        <h5>Treasurer</h5>
        <h5>Electrical Engineering 2017</h5>
        <p></p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-3" id="Pictures">
        <img class="img-circle" src="~/Content/officer pics/10959985_10203462158692477_8719635076824464453_o.jpg" height="250" width="250" />
    </div>
    <div class="col-lg-9">
        <h4>Mike Jones</h4>
        <h5>Safety Manager</h5>
        <h5>Mechanical Engineering | Electrical Engineering 2016</h5>
        <p></p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-3" id="Pictures">
        <img class="img-circle" src="~/Content/officer pics/Tim With Sergey Brin.jpg.png" height="250" width="250" />
    </div>
    <div class="col-lg-9">
        <h4>Tim Balz</h4>
        <h5>Safety Manager</h5>
        <h5>Mechanical Engineering 2017</h5>
        <p>I would rather be building something than relaxing.  I love to use my technical experience to help others.</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-3" id="Pictures">
        <img class="img-circle" src="~/Content/officer pics/10399941_101522330815_5823105_n.jpg" height="250" width="250" />
    </div>
    <div class="col-lg-9">
        <h4>Kyle Daruwalla</h4>
        <h5>Lab Manager</h5>
        <h5>Computer Hardware Engineering 2016</h5>
        <p></p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-3" id="Pictures">
        <img class="img-circle" src="~/Content/officer pics/1798512_779190605462477_3266157329717523680_n.jpg" height="250" width="250" />
    </div>
    <div class="col-lg-9">
        <h4>Tony Milluzzi</h4>
        <h5>Lab Manager</h5>
        <h5>Electrical Engineering 2016</h5>
        <p>Tony is junior electrical engineering student who is interested in RF electronics, avionics, audio electronics, and test equipment. He is also the President of the Rose Tech Radio Club, the amateur radio club at Rose-Hulman, and the Vice President of the electrical and computer engineering honor society Eta Kappa Nu. His engineering experience includes multiple summer internships as well as an ongoing internship at Rose-Hulman Ventures. At these internships he has worked on a multitude of projects requiring skills including surface mount soldering, up to six layer PCB design, antenna design, formal testing procedures, and wood, plastic, and metal prototyping.</p>
    </div>
</div>
<br />