
@{
    ViewBag.Title = "FAQ";
}
<div class="col-lg-12">

    <h1>FAQ</h1>
    <div class="col-lg-12">
        <h3>ME Shop Resources</h3>
        <div class="col-lg-12">
            <ul>
                <li>
                    <h4>Are students allowed to check out tools and equipment for personal projects?</h4>
                    <p>Yes</p>
                </li>
                <li>
                    <h4>What is the process for a student to check out equipment?</h4>
                    <p>Come to the Supply Room between 8:00 AM and 5:00PM M-F with your Student ID</p>
                </li>
                <li>
                    <h4>How long are students typically allowed to keep the equipment before it returning it?</h4>
                    <p>Depends on what the equipment is. Normally checkout may be for as long as all day. Overnight checkout is only with prior consent by Jerry Leturgez, due to the fact that we are limited on some items and many items are in high demand</p>
                </li>
                <li>
                    <h4>What process do you use to handle cases of damaged, lost, or stolen equipment?</h4>
                    <p>Inform Jerry Leturgez, in any case, ASAP</p>
                </li>
                <li>
                    <h4>Do you provide instruction and guidance about the proper way to operate and utilize the equipment?</h4>
                    <p>Most equipment has easy to follow manuals. Most is self-explanatory with the help of said manuals, but I am here to assist in any case</p>
                </li>
                <li>
                    <h4>If a student needs assistance or advice with a project can they come to you for advice?</h4>
                    <p>Absolutely!</p>
                </li>
                <li>
                    <h4>Do you provide any parts for sale such as fasteners or small hand tools similar to how the EE window does?</h4>
                    <p>Most fasteners can be found in the Machine Shop; however there are some components that we sell.</p>
                </li>
                <li>
                    <h4>What hours are the best for a student to come check out equipment?</h4>
                    <p>Monday through Friday 8:00 AM – 5:00 PM</p>
                </li>
                <li>
                    <h4>Is there anything a student should prepare/bring in order to check equipment out?</h4>
                    <p>Student ID</p>
                </li>
                <li>
                    <h4>Do you know of any other resources/equipment that students can utilize that aren’t widely known?</h4>
                    <p>My best advice to students is to stop by and feel free to look at all we have.</p>
                </li>
            </ul>
        </div>
        <br />
    </div>
    <br />
</div>