@model RoseMakerSpace.Models.SkillModel
@{
    ViewBag.Title = "Add a Skill";
}

<h2>Add Skills</h2>
@using (Html.BeginForm("AddSkill", "Student", FormMethod.Post))
{
    @Html.ListBoxFor(model => model.selectedSkills, Model.Skills, new { @css="height:400px;width=350px"})
    <br />
    <br />
    <input type="submit" value="Submit" />
}
    
